---
import Layout from "../layouts/layout.astro"
import Card from '../../node_modules/astro-material-design/components/containment/card.astro'
import { Image } from 'astro:assets'
import announcement from '../../public/announcement.json'
import games from '../../public/apps.json'

let gameList = []
for (const i in games) {
	gameList.push((games as {[propName: string]: any})[i])
}
---

<Layout title="Apps" page="1" style="display: flex; flex-direction: column; gap: 16px;">
    <Card type="outlined" style="width: calc(100% - 24px);">
        <p class="md-typescale-headline-large">{announcement.title}</p>
        <p class="md-typescale-body-large">{announcement.description}</p>
    </Card>
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: start; flex-wrap: wrap; gap: 16px;">
		{gameList.map((i: any) => <a href={`/app/${i.link}`} style="text-decoration: none"><Card style="width: 230px;">
            <Image src={`/${i.image}`} width="230" height="230" class="md-shape-corner-small" alt="Game thumbnail" densities={[1]} />
            <p class="md-typescale-label-large" style="text-align: center; text-decoration: none;">{i.title}</p>
        </Card></a>)}
    </div>
</Layout>