---
import Layout from "../layouts/layout.astro"
import Card from '../../node_modules/astro-material-design/components/containment/card.astro'
import { Picture } from 'astro:assets'
import announcement from '../../public/announcement.json'
import games from '../../public/games.json'

let gameList = []
for (const i in games) {
	gameList.push((games as {[propName: string]: any})[i])
}
---

<Layout title page="0" style="display: flex; flex-direction: column; gap: 16px;">
	<Card type="outlined" style="width: calc(100% - 24px);">
        <p class="md-typescale-headline-large">{announcement.title}</p>
        <p class="md-typescale-body-large">{announcement.description}</p>
	</Card>
	<div style="margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: center; gap: 16px" id="grid">
		{gameList.map((i: any) => <a href={`/game/${i.link}`} style="text-decoration: none" class="item"><Card type="filled" style="width: 230px; background: var(--md-color-on-secondary); margin-bottom: 16px;" className={i.category}>
            <Picture src={`/${i.image}`} formats={['avif', 'webp']} width="230" height="230" class="md-shape-corner-small" alt="Game thumbnail" fallbackFormat="webp" />
			<p class="md-typescale-label-large" style="text-align: center; text-decoration: none; color: var(--md-color-on-secondary-container)">{i.title}</p>
		</Card></a>)}
	</div>

	<script is:inline>
		const el = document.querySelector('#grid')
		window.onload = () => {
			const iso = new Isotope(el, {
				itemSelector: '.item',
				layoutMode: 'masonry',
				masonry: {
					columnWidth: 254,
					gutter: 16,
					horizontalOrder: true,
					fitWidth: true
				}
			})
		}
	</script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
</Layout>