---
import Layout from "../layouts/layout.astro"
import Card from '../../node_modules/astro-material-design/components/containment/card.astro'
import announcement from '../../public/announcement.json'
import games from '../../public/games.json'

let gameList = []
for (const i in games) {
	gameList.push((games as {[propName: string]: any})[i])
}
---

<Layout title page="0" style="display: flex; flex-direction: column; gap: 16px;">
	<Card type="outlined" style="width: 100%;">
        <p class="md-typescale-headline-large">{announcement.title}</p>
        <p class="md-typescale-body-large">{announcement.description}</p>
	</Card>
	<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: start; flex-wrap: wrap; gap: 16px;">
		{gameList.map((i: any) => <a href={`/game/${i.link}`} style="text-decoration: none"><Card style="width: 230px;">
			<img src={i.image} style="width: 100%; aspect-ratio: 1" class="md-shape-corner-small" />
			<p class="md-typescale-label-large" style="text-align: center; text-decoration: none;">{i.title}</p>
		</Card></a>)}
	</div>
</Layout>