---
import games from '../../../public/games.json'
import Layout from "../../layouts/layout.astro"
import Card from '../../../node_modules/astro-material-design/components/containment/card.astro'
import Button from '../../../node_modules/astro-material-design/components/actions/button.astro'
import Divider from '../../../node_modules/astro-material-design/components/containment/divider.astro'
import Ad from "../../components/ad.astro";

type Game = {
	title: string,
	link: string,
	image: string,
	embedLink: string,
	props: string[],
	fs: boolean,
	description: string
}

export function getStaticPaths() {
	let list: Array<object> = []

	for (const i in games) {
		list.push({params: {game: i}})
	}

	return list
}

const { game } = Astro.params
const info: Game = games[game]

let propsList = ""
for (const i in info.props) {
	propsList += `<p style="padding: 5px 15px; box-sizing: border-box;" class="md-typescale-title-medium">${i}: ${info.props[i]}</p>`
}
---

<Layout title={info.title} page="0" style="display: flex; flex-direction: column; gap: 16px;">
	<Ad width="1000" />
	<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 0;">
        <Ad height="600" width="200" />
		<iframe src={info.embedLink} style="border: none; border-radius: 12px; width: 100%; aspect-ratio: 16 / 9" />
        <Ad height="600" width="200" />
	</div>
    <Ad width="1000" />
	<Card type="outlined" style="width: 100%; box-sizing: border-box; position: relative;">
		{!info.fs && <Button type="elevated" style="position: absolute;" id="fullscreen">Fullscreen</Button>}
        <p style="width: 100%; text-align: center;" class="md-typescale-headline-large">{info.title}</p>
		{info.props.length != 0 && <Divider style="margin: 8px 0;" />}
		{info.props.length != 0 && <div style="display: flex; padding: 10px; justify-content: center; align-items: center; align-content: center; box-sizing: border-box; width: 100%; flex-wrap: wrap;" set:html={propsList}></div>}
		{info.description && <Divider style="margin: 8px 0;" />}
		{info.description && <p style="width: 100%;" class="md-typescale-body-medium">{info.description}</p>}
	</Card>
    <Ad width="1000" />
</Layout>

<script define:vars={{info}} is:inline>
	document.querySelector('#fullscreen').addEventListener('click', e => {
		var win = window.open()
		var script = win.document.createElement('script')
		script.async = true
		script.src = 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2261681163241464'
		script.crossOrigin = 'anonymous'
		win.document.body.style = 'margin: 0; height: 100vh;'
		var iframe = win.document.createElement('iframe');
		iframe.style = 'border: none; width: 100%; height: 100%; margin: 0;'
		iframe.src = info.embedLink
		win.document.body.appendChild(iframe)
		win.document.body.appendChild(script)
	})
</script>